@model IEnumerable<MyProject.Models.Type>

@{
    ViewBag.Title = "Pory dnia";
}
@if (Context.User.IsInRole("Administrator"))
{
<h2>Zarządzaj porami dnia</h2>

<p>
    @Html.ActionLink("Utwórz porę dnia", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ID }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Usuń", "Delete", new { id=item.ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
@Html.ActionLink("Powrót do panelu administratora", "Index", "Admin")


}
else
{
    <h2>Brak uprawnień</h2>
    <h3>Aby uzyskać dostęp @Html.ActionLink("zaloguj się", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) </h3>
    @Html.ActionLink("Powrót", "Index", "Home")
}