@model IEnumerable<MyProject.Models.Comment>

@{
    ViewBag.Title = "Komentarze";
}
@if (Context.User.IsInRole("Administrator"))
{
<h2>Zarządzaj komentarzami</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Profile.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recipe.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Profile.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recipe.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ID }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Usuń", "Delete", new { id=item.ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}


</table>
@Html.ActionLink("Powrót do panelu administratora", "Index", "Admin")


}
else
{
    <h2>Brak uprawnień</h2>
    <h3>Aby uzyskać dostęp @Html.ActionLink("zaloguj się", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) </h3>
    @Html.ActionLink("Powrót", "Index", "Home")
}